default:
    suites:
        intergation:
            contexts:
                - IntegrationContext:
                    kernel: '@kernel'
        functional:
            contexts:
                - FunctionalContext:
                    kernel: '@kernel'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
