{% extends 'base.html.twig' %}

{% block body %}

<div id="calendar"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $('div#calendar').fullCalendar({
            header: {
                left: false,
                center: 'title',
                right: 'prev,next today'
            },
            allDaySlot: false,
            nowIndicator: true,
            minTime: "08:00:00",
            maxTime: "22:00:00",
            defaultDate: '{{ startDate|date("Y-m-d") }}',
            defaultView: 'agendaWeek',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            slotLabelFormat: 'H:00',
            columnFormat: 'ddd D.MM',
            snapDuration: '00:15:00',
            selectable: true,
            firstDay: 1,
            select: function(start, end) {
                var message = "Dodać nowe wydarzenie?\n\nPoczątek:\t"
                    + start.format("YYYY.MM.DD [o] HH:mm")
                    + "\nKoniec:\t"
                    + end.format("YYYY.MM.DD [o] HH:mm");

                if (confirm(message)) {
                    window.location.href = Routing.generate('createEvent', {
                        startDate: start.format("YYYYMMDDHHmm"),
                        endDate: end.format("YYYYMMDDHHmm")
                    })
                }
            },
            // eventDrag: dragHandler,
            // eventDrag: dragHandler,
            // eventResize: resizeHandler,
            lang: "pl",
            // eventClick: eventClickHandler,
            contentHeight: "auto",
            height: "auto",
            {#events: [#}
                {#{% for event in events %}#}
                    {#{{ event|raw }},#}
                {#{% endfor %}#}
            {#]#}
            events: Routing.generate('getEvents'),
        });

    </script>
{% endblock javascripts %}